/* Define your theme modifications inside next mixin */
@mixin com_haulmont_sample_petclinic-helium-ext {
   --hell-lila: #867AEB;
      --white: #FFFFFF;

        /* Basic */
      --primary-color: #6C5CE7;
      --primary-color_rgb: 108, 92, 231;
      --secondary-color: #FDD58D;
      --secondary-color_rgb: 253, 213, 141;
      --success-color: #83C93C;

        /* Common */
      --primary-color-shade-1: #4C3CE2;
      --primary-color-shade-2: #3421DE;
      --primary-dim-color: #958CEE;
      --secondary-color-shade-1: #FCC464;
      --secondary-color-shade-2: #FBB53C;
      --secondary-contrast-text-color: #2C3436;
      --secondary-dim-color: #FDDFAA;
      --success-color-shade-1: #75B332;
      --success-color-shade-2: #689F2D;
      --success-dim-color: #A7D874;
      --text-dim-color: #6B7172;
      --text-secondary-color: #2C3436;

        /* SideMenu */



        --sidemenu-background-color: var(--hell-lila);
        --sidemenu-text-color: var(--white);

        --sidemenu-title-color: var(--sidemenu-text-color);
        --sidemenu-title-background-color: var(--primary-color);

        --sidemenu-item-focused-color: var(--white);

        --sedemenu-item-selected-color: var(--white);
        --sedemenu-item-selected-background-color: var(--primary-color);

        --sidemenu-item-badge-color: var(--secondary-contrast-text-color);
        --sidemenu-item-badge-background-color: var(--secondary-color);


        --sidemenu-collapsible-submenu-background-color: var(--primary-color);

        --sidemenu-collapsible-controls-panel-background-color: var(--primary-color);

        --sidemenu-collapsible-action-button-color: var(--white);
        --sidemenu-collapsible-action-button-hover-background-color: var(--primary-color);
        --sidemenu-collapsible-action-button-active-background-color: var(--primary-color);

        --sidemenu-collapsible-collapse-button-color: var(--white);
        --sidemenu-collapsible-collapse-button-background-color: var(--primary-color);
        --sidemenu-collapsible-collapse-button-hover-background-color: var(--primary-color);
        --sidemenu-collapsible-collapse-button-active-background-color: var(--primary-color);

        --groupbox-collapsed-caption-color: var(--white);

}